[submodule "test_submodules/cloudbolt-forge"]
	path = test_submodules/cloudbolt-forge
	url = https://github.com/CloudBoltSoftware/cloudbolt-forge.git
[submodule "test_submodules/dubboj"]
	path = test_submodules/dubboj
	url = https://github.com/apache/dubbo
